input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--bg-colour);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: var(--bg-colour);
    opacity: 0.9;
  }

  .drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color:  var(--text-color);
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
  .drop-container:hover {
    background: rgba(58, 58, 58, 0.37);
    border-color: var(--text-color);
  }
  
  .drop-container:hover .drop-title {
    color: var(--text-color);
  }
  
  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }
  .progress{
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color:  var(--text-color);
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    min-width: 20vw;
  }

  @media screen and (max-width:380px) {
    input[type=file] {
     width: 185px;
    }
  }
